{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/inscription.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}Register{% endblock %}


{% block body %}
    <div class="grid-container-1">
        <div class="row">
            <img src="{{ asset('build/images/savon_cosm.jpg') }}" class="beaute"/>
        </div>
        <div class="content">
            <div class="row">
                <div class="df jce">
                    <button class="button"><a class="text-decoration-none a" href="{{ path('app_login') }}">
                            connexion
                        </a></button>

                </div>
            </div>
            <div class="row">
                <h1 class="df jcc">Inscription</h1>
            </div>

            <div class="form">

                    {{ form_start(registrationForm) }}
                    <div class="grid-form">
                        <div>
                            {{ form_row(registrationForm.nom) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.prenom) }}
                        </div>
                    </div>
                    <div class="grid-form">
                        <div>
                            {{ form_row(registrationForm.genre) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.dateNaissance) }}
                        </div>
                    </div>
                    <div class="grid-form">
                        <div>
                            {{ form_row(registrationForm.formation) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.ville)}}
                        </div>
                    </div>
                    <div class="grid-form">
                        <div>
                            {{ form_row(registrationForm.email) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
                        </div>
                    </div>
                    <div class="gt-1 df jcc">
                        <button  type="submit" class="button-enregister">Valider</button>
                    </div>
                    {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>


{% endblock %}
