{% import _self as formAMacros %}
{% macro printReponse(reponse) %}
    {{ include('question/_form_reponse.html.twig') }}
{% endmacro %}

    {{ form_row(question.intitule) }}

    <ul class="row reponses" data-prototype="{{ form_widget(question.Reponses.vars.prototype)|e('html_attr') }}"
        data-index="{{ question.Reponses|length ? question.Reponses|last.vars.name + 1 : 0 }}">
        {% for rep in question.Reponses %}
            <li>
               {{ rep.laReponse }}
            </li>

        {% endfor %}

    </ul>


{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}
