{% extends 'base.html.twig' %}

{% block title %}Mes sondages{% endblock %}

{% block body %}
    <h1>Mes sondages</h1>

    <a href="{{ path('app_sondeur_new') }}">Create new</a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Intitule</th>
            <th>EtatSondage</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sondage in sondages %}
            <tr>
                <td>{{ sondage.id }}</td>
                <td><a href="{{ path('app_sondeur_show', {'id': sondage.id}) }}">{{ sondage.intitule }}</a></td>
                <td>{{ sondage.etatSondage }}</td>
                <td>
                    <a href="{{ path('app_sondeur_edit', {'id': sondage.id}) }}">edit</a>
                    <a href="{{ path('app_sondeur_stats_survey', {'id': sondage.id}) }}">Statistiques</a>
                    <form action="{{ path('app_sondeur_export', {'id': sondage.id}) }}" method="GET">
                        <label for="export-format">Exporter au format</label>
                        <select name="format" id="export-format">
                            <option value="ods">ODS</option>
                            <option value="xlsx">XLSX</option>
                            <option value="csv">CSV</option>
                        </select>
                        <button type="submit">Exporter</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
