{% extends 'base.html.twig' %}

{% block title %}Statistiques d'un sondage {% endblock %}

{% block body %}
<div class="grid-container-nav">
    {{ include('composants/_nav_bar.html.twig') }}
    <div class="">
        <div class="grid-container-4">
            <div class="row-stat">
            <h3 class="d-flex justify-content-center">Pour le sondage : {{ sondage.intitule }}</h3>
            </div>
                <div class="row-stat-1">
                    <div class="col-stat">
                        <div class="card">
                            <h5 class="d-flex justify-content-center"> Nombre de personnes ayant répondu :</h5>
                                <p class="d-flex justify-content-center">{{ sondage.lesSondes.count }}</p>
                        </div>
                    </div>

                </div>
                <div class="row-stat">
                    <div class="col-stat">    {% set totalQuestions = sondage.questions|length %}
                        <div id="question-container">
                            {% set questionNumber = 0 %}
                            {% for question in sondage.Questions %}
                                {% set questionNumber = questionNumber + 1 %}
                                <div class="question" id="question-{{ questionNumber }}"
                                     {% if questionNumber != 1 %}style="display:none"{% endif %}>
                                    <h5>{{ question.intitule }}</h5>
                                    <canvas data-question="{{ question.intitule }}" data-type="{{ question.TypeQuestion.label }}" class="chartQuestion"
                                            data-chart="{{ question.StatsQuestions[0].dataJson }}"></canvas>

                                    <canvas data-question="{{ question.intitule }}" data-type="{{ question.TypeQuestion.label }}" class="chartQuestionGenre"
                                            data-chart="{{ question.StatsQuestions[1].dataJson }}"></canvas>

                                    <canvas data-question="{{ question.intitule }}" data-type="{{ question.TypeQuestion.label }}" class="chartQuestionFormation"
                                            data-chart="{{ question.StatsQuestions[2].dataJson }}"></canvas>

                                    <canvas data-question="{{ question.intitule }}" data-type="{{ question.TypeQuestion.label }}" class="chartQuestionAge"
                                            data-chart="{{ question.StatsQuestions[3].dataJson }}"></canvas>

                                    {{ dump(question.StatsQuestions[3].dataJson) }}

                                    <button class="next-question-stat button"
                                            data-next-question="{{ questionNumber + 1 }}"> Next question</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {#    <div> #}
    {#        <canvas id="formationChart" data-chart="{{ formationChart }}"></canvas> #}
    {#    </div> #}

    {#    <div> #}
    {#        <canvas id="genreChart" data-chart="{{ genreChart }}"></canvas> #}
    {#    </div> #}
    {% endblock %}


    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('renderChart') }}
    {{ encore_entry_script_tags('nextStats') }}
{% endblock %}