{% extends 'base.html.twig' %}

{% block title %}Statistiques d'un sondage {% endblock %}

{% block body %}

<h1>Pour le sondage : {{ sondage.intitule }}</h1>
    <h3> Nombre de personnes ayant répondu : {{ sondage.lesSondes.count }} </h3>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    {{ dump(results) }}

{% endblock %}

{% block javascripts %}
{#    <script>#}
{#        let ctx = document.getElementById('myChart').getContext('2d');#}
{#        #}{#var chartData = {{ chart_data|raw }};#}
{#        #}{#let chartOptions = {{ chart_options|raw }};#}
{#        let myChart = new Chart(ctx, {#}
{#            type: 'bar',#}
{#            data: {{ chart_data|raw }},#}
{#            options: {{ chart_options|raw }}#}
{#        );#}
{#    </script>#}
{% endblock %}

