{% extends 'base.html.twig' %}

{% block title %}Statistiques d'un sondage {% endblock %}

{% block body %}
    <div class="grid-container-nav">
        {{ include('composants/_nav_bar.html.twig') }}
        <div class="content">
            <div class="df jce">
                <button class="button">Déconnexion</button>
            </div>

            <h1 class="df jcc">Statistiques globlale du sondage : {{ sondage.intitule }}</h1>

                    <div class="tab-container align-items-center justify-content-center">
                        <div class="tab-header">
                            <button class="tab-button active" data-tab="tab1">Nombre d' utilisateurs</button>
                            <button class="tab-button" data-tab="tab2">Statistiques par ages</button>
                            <button class="tab-button" data-tab="tab3">Statistiques par formations</button>
                            <button class="tab-button" data-tab="tab4">Statistiques par genres</button>
                        </div>
                        <div class="tab-content">
                            <div class="tab-panel active" id="tab1">
                                <div class="chart-container d-flex justify-content-center">
                                    <div class="card-stat">
                                        <p class="d-flex justify-content-center"> Nombre de personnes ayant répondu
                                            :</p>
                                        <p class="d-flex justify-content-center">{{ sondage.lesSondes.count }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-panel" id="tab2">
                                <div class="chart-container">
                                <canvas id="ageChart" data-chart="{{ ageChart }}"></canvas>
                                </div>
                            </div>
                            <div class="tab-panel" id="tab3">
                                <div class="chart-container">
                                <canvas id="formationChart" data-chart="{{ formationChart }}"></canvas>
                            </div>
                            </div>
                            <div class="tab-panel" id="tab4">
                                <div class="chart-container">
                                <canvas id="genreChart" data-chart="{{ genreChart }}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
            <button class="button-t" href="{{ path('app_sondeur_stats_question', {'id': sondage.id}) }}">Voir les statistiques pour chaque question</button>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('renderChart') }}
{#    {{ encore_entry_script_tags('nextStats') }}#}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}