{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
    <h1>Sondage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>EtatSondage</th>
                <th>Description</th>
                <th>ImageCouverture</th>
                <th>DateCreation</th>
                <th>DateLancement</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sondage in sondages %}
            <tr>
                <td>{{ sondage.id }}</td>
                <td>{{ sondage.intitule }}</td>
                <td>{{ sondage.etatSondage }}</td>
                <td>{{ sondage.description }}</td>
                <td>{{ sondage.imageCouverture }}</td>
                <td>{{ sondage.dateCreation ? sondage.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sondage.dateLancement ? sondage.dateLancement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sondage.dateFin ? sondage.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_sondage_show', {'id': sondage.id}) }}">show</a>
                    <a href="{{ path('app_sondage_edit', {'id': sondage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sondage_new') }}">Create new</a>
{% endblock %}
