{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
<div class="grid-container-nav">
    {{ include('composants/_nav_bar_sonde.html.twig') }}
    <div class="content-sond">
        <div class="row">
            <div class="df jce">
                <div class="">
                    <button class="button"><a class="text-decoration-none a" href="{{ path('app_logout') }}">déconnexion</a></button>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="df jcc">Bienvenue chez creacosm</h1>
        </div>
        <div class="row">
            <div class="grid-container-6">
                {% for sondage in sondages %}
                <div class="card">
                    <div>{{ sondage.imageCouverture }}</div>
                    <div><h2>{{ sondage.intitule }}</h2></div>
                    <div><p>  {{ sondage.description }}</p></div>
                    <div class="d-flex"><p>Lancement :</p>
                        <p>{{ sondage.dateLancement ? sondage.dateLancement|date('d/m/Y') : '' }}</p></div>
                    <div class="d-flex"><p>Fin :</p>
                        <p>{{ sondage.dateFin ? sondage.dateFin|date('d/m/Y') : '' }}</p></div>
                    <div>
                        <button class="button-t"><a class="c-black" href="{{ path('app_sondage_answer', {'id': sondage.id}) }}">Répondre
                                au sondage</a></button>
{#                        <button class="button-t">Modifier</button>#}
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>

    {#        {{ sondage.id }} #}

    {#          {{ sondage.etatSondage }} #}


    {#           {{ sondage.dateCreation ? sondage.dateCreation|date('Y-m-d H:i:s') : '' }} #}
    {#    <div class="grid-container-nav"> #}
    {#        {{ include('composants/_nav_bar.html.twig') }} #}
    {#        <div class="content-sond"> #}
    {#            <div class="row"> #}
    {#                <div class="df jce"> #}
    {#                    <div class=""> #}
    {#                        <button class="button"><a class="text-decoration-none a" href="{{ path('app_logout') }}">se deconnecter</a></button> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#            <div class="row"> #}
    {#                <h1 class="df jcc">Bienvenue chez creacosm</h1> #}
    {#            </div> #}
    {#    <div class="row gtc"> #}
    {#    {% for sondage in sondages %} #}
    {#        <div class="card"> #}
    {#            <div>{{ sondage.imageCouverture }}</div> #}
    {#            <div><h2>{{ sondage.intitule }}</h2></div> #}
    {#            <div><p>  {{ sondage.description }}</p></div> #}
    {#            <div class="d-flex"><p>Lancement :</p><p>{{ sondage.dateLancement ? sondage.dateLancement|date('d/m/Y') : '' }}</p></div> #}
    {#            <div class="d-flex"><p>Fin :</p><p>{{ sondage.dateFin ? sondage.dateFin|date('d/m/Y') : '' }}</p></div> #}
    {#            <div> #}
    {#                <button class="button-t"><a href="{{ path('app_sondage_answer', {'id': sondage.id}) }}">Répondre au #}
    {#                        sondage</a></button> #}
    {#                #}{#                <button class="button-t">Modifier</button> #}
    {#            </div> #}
    {#        </div> #}
    {#    {% endfor %} #}
    {#        </div> #}
    {#        </div> #}
    {#        </div> #}



{% endblock %}
