{% extends 'base.html.twig' %}

{% block title %}Statistiques d'un sondage {% endblock %}

{% block body %}

    <h1>Pour le sondage : {{ sondage.intitule }}</h1>
    <h3> Nombre de personnes ayant répondu : {{ sondage.lesSondes.count }} </h3>

    <div>
        <canvas id="ageChart" data-chart="{{ ageChart }}"></canvas>
    </div>

    <div>
        <canvas id="formationChart" data-chart="{{ formationChart }}"></canvas>
    </div>

    <div>
        <canvas id="genreChart" data-chart="{{ genreChart }}"></canvas>
    </div>

    <div>
        <canvas id="mixChart" data-chart="{{ genreChart }}"></canvas>
    </div>




    <div>
        {% for question in sondage.Questions %}
            <h2>{{ question.intitule }}</h2>

            <canvas data-question="{{ question.intitule }}" class="chartQuestion" data-chart="{{ question.StatsQuestions[0].dataJson }}"></canvas>
            {#            <canvas data-question="{{ question.intitule }}" class="chartQuestionMix" data-chart="{{question.StatsQuestions[1].dataJson }}"></canvas>#}
        {% endfor %}

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('renderChart') }}
{% endblock %}

{#<canvas data-question="{{ question.intitule }}" class="chartQuestion" data-chart="{{ chartQuestion }}"></canvas>#}