{% extends 'base.html.twig' %}

{% block title %}Statistiques des questions du sondage {% endblock %}

{% block body %}

<div class="grid-container-nav">
    {{ include('composants/_nav_bar.html.twig') }}
    <div class="content">
        <div class="df jce">
            <button class="button">Déconnexion</button>
        </div>

        <h1 class="df jcc">Statistiques des questions du sondage {{ sondage.intitule }}</h1>

        {% set totalQuestions = sondage.questions|length %}

        <div id="question-container">
            {% set questionNumber = 0 %}
            {% for question in sondage.Questions %}
                {% set questionNumber = questionNumber + 1 %}
                <div class="question" id="question-{{ questionNumber }}" {% if questionNumber != 1 %}style="display:none"{% endif %}>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <a href="{{ path('app_sondeur_stats_survey', {'id': sondage.id}) }}">
                                <button class="btn btn-outline-dark">
                                    <i class="bi bi-arrow-return-left fa-10x "></i>  Retour
                                </button>
                            </a>

                            <h5 class=" ms-3 center">{{ question.intitule }}</h5>
                        </div>

                        <div>
                            <button class="button previous-question-stat" data-previous-question="{{  questionNumber - 1 }}">
                                Précédente question
                            </button>
                            <button class="button next-question-stat"
                                    data-next-question="{{ questionNumber + 1 }}">
                                Prochaine question
                            </button>
                        </div>
                    </div>
                    <div class="tab-container align-items-center justify-content-center">
                        <div class="tab-header">
                            <button class="tab-button" data-tab="tab1">Statistiques globales</button>
                            <button class="tab-button" data-tab="tab2">Statistiques par genre</button>
                            <button class="tab-button" data-tab="tab3">Statistiques par formation</button>
                            <button class="tab-button" data-tab="tab4">Statistiques par formation</button>
                        </div>
                        <div class="tab-content">
                            <div class="tab-panel active" id="tab1">
                                <h3 class="titre-graphe-sondage">Réponses en globalité</h3>
                                <div class="chart-container">
                                    <canvas data-question="Réponses globalité" data-type="{{ question.TypeQuestion.label }}" class="chartQuestion"
                                            data-chart="{{ question.StatsQuestions[0].dataJson }}"></canvas>
                                </div>
                            </div>
                            <div class="tab-panel" id="tab2">
                                <h3 class="titre-graphe-sondage">Réponses en fonction du genre</h3>
                                <div class="chart-container">
                                    <canvas data-question="Réponses en fonction du genre"  class="chartQuestionGenre"
                                            data-chart="{{ question.StatsQuestions[1].dataJson }}"></canvas>
                                </div>
                            </div>
                            <div class="tab-panel" id="tab3">
                                <h3 class="titre-graphe-sondage">Réponses en fonction de l'activité professionnelle</h3>
                                <div class="chart-container">
                                    <canvas data-question="Réponses en fonction de l'activité professionnelle"  class="chartQuestionFormation"
                                            data-chart="{{ question.StatsQuestions[2].dataJson }}"></canvas>
                                </div>
                            </div>
                            <div class="tab-panel" id="tab4">
                                <h3 class="titre-graphe-sondage">Réponses en fonction de la tranche d'âge</h3>
                                <div class="chart-container">
                                    <canvas data-question="Réponses en fonction de la tranche d'âge"  class="chartQuestionAge"
                                            data-chart="{{ question.StatsQuestions[3].dataJson }}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('nextStats') }}
    {{ encore_entry_script_tags('stats') }}
   {{ encore_entry_script_tags('renderChartQuestion') }}

{% endblock %}