{% extends 'base.html.twig' %}

{% block title %}CategorieSondage index{% endblock %}

{% block body %}
<div class="grid-container-nav" >
    {{ include('composants/_nav_bar_admin.html.twig') }}

    <div class="content-nav">
        <div class="content-sond">
            <div class="row">
                <h1 class="df jcc">Tous les sondeurs</h1>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>NomCategorie</th>
                    <th>Emoji</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie_sondage in categorie_sondages %}
                    <tr>
                        <td>{{ categorie_sondage.id }}</td>
                        <td>{{ categorie_sondage.nomCategorie }}</td>
                        <td>{{ categorie_sondage.emoji }}</td>
                        <td>
                            <a href="{{ path('app_categorie_sondage_show', {'id': categorie_sondage.id}) }}">show</a>
                            <a href="{{ path('app_categorie_sondage_edit', {'id': categorie_sondage.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_categorie_sondage_new') }}">Create new</a>
        </div>
        </div>
    </div>
</div>

{% endblock %}
