{% extends 'base.html.twig' %}

{% block body %}



<div class="container-q">
    <div class="col-q"><img class="img-q" src="{{ asset('build/images/bio.jpg') }}" /></div>
    <div class="col-q grid-container-q">
        <div class="grid-item-q"></div>
        <div class="grid-item-q">
            <div class="grid-container-sub">
                <div class="grid-item-q d-flex justify-content-center">
                    <h1>{{ sondage.intitule }}</h1>
                </div>
                <div class="grid-item-q d-flex flex-column">

                    {% set totalQuestions = sondage.questions|length %}
                    <div id="question-container">
                        {{ form_start(form) }}

                        {% set questionNumber = 0 %}

                        {% for question in sondage.questions %}
                            {% set questionNumber = questionNumber + 1 %}
                            <div class="question" id="question-{{ questionNumber }}" {% if questionNumber != 1 %}style="display:none"{% endif %}>
                                {{ form_row(form['question_' ~ question.id]) }}

                                <div class="question-navigation">
                                    {% if questionNumber != 1 %}
                                        <button class="previous-question-button button"  data-previous-question="{{ questionNumber - 1 }}">
                                            Previous question
                                        </button>
                                        {% if questionNumber == totalQuestions %}
                                            {{ form_row(form.submit, { 'label': 'Envoyer mes réponses' , 'class': 'button-success'}) }}
                                        {% endif%}
                                    {% endif %}

                                    {% if questionNumber != totalQuestions %}
                                        <button class="next-question-button button" data-total-questions="{{ totalQuestions }}" data-next-question="{{ questionNumber + 1 }}">
                                            Next question
                                        </button>
                                    {% endif %}


                                </div>

                            </div>
                        {% endfor %}

                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
            <!--  <div><input type="checkbox" id="horns" name="horns"></div> -->

        </div>
    </div>
</div>





















{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('nextQuestion') }}
{% endblock %}

{# {% if questionNumber+1 == sondage.questions|length %}#}
{#     Envoyer mes réponses#}
{# {% else %}#}
{#     Question suivante#}
{# {% endif %}#}