{% extends 'base.html.twig' %}

{% block title %}Sondage terminées{% endblock %}

{% block body %}
<div class="grid-container-nav">
    {{ include('composants/_nav_bar_sonde.html.twig') }}
    <div class="content-home">
        <div class="row-home">
            <div class="d-flex justify-content-end">
                <button class="button"><a class="text-decoration-none a" href="{{ path('app_logout') }}">deconnexion</a></button>
            </div>
        </div>
        <div class="row-home">
            <h1 class="df jcc">Historique de mes sondages</h1>
        </div>
        <div class="row-home">
            <div class="grid-container-2">
                <div class="colonne1">
                    <h2>Sondages terminés</h2>
                    <ul>
                        {% for sondage in sondages %}

                            <li class="sondageDone">
                                <div>
                                    <a href="#"> {{ sondage.sondage.intitule }} </a>

                                    {{ sondage.dateReponse|date('d-m-Y')}}
                                </div>
                                <div class="reponses" style="display: none">
                                    {% for userSondageReponse in sondage.allReponses %}
                                        {{ userSondageReponse.question.intitule }}
                                        <ul>
                                            {% for rep in userSondageReponse.reponses %}
                                                <li> {{ rep.laReponse }}</li>
                                            {% endfor %}

                                        </ul>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="colonne2 bg-light">
                    <div id="displayQuestion">
                    <p class="reponseQ">hello</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('historique') }}
{% endblock %}
