{% extends 'base.html.twig' %}

{% block title %}Sondage en cours{% endblock %}

{% block body %}<div class="grid-container-nav">
    {{ include('composants/_nav_bar_sonde.html.twig') }}
    <div class="content-sond">
        <div class="row">
            <div class="df jce">
                <div class="">
                    <button class="button"><a class="text-decoration-none a" href="{{ path('app_logout') }}">se
                            deconnecter</a></button>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="df jcc">Bienvenue chez creacosm</h1>
        </div>
        <div class="row">
            <div class="grid-container-6">
                {% for sondage in sondages %}
                    <div class="card">
{#                        <div>{{ sondage.imageCouverture }}</div>#}
                    <div class="img-container-2">
                        <img src="{{ asset('build/images/produit_bio.jpg') }}" alt="image"/>
                    </div>
                        <div><h2>{{ sondage.intitule }}</h2></div>
                        <div><p>  {{ sondage.description }}</p></div>
                        <div class="d-flex"><p>Fin :</p>
                            <p>{{ sondage.dateFin ? sondage.dateFin|date('d/m/Y') : '' }}</p></div>
                        <div>
                            <button class="button-t"><a class="c-black" href="{{ path('app_sondage_answer', {'id': sondage.id}) }}">Répondre
                                    au sondage</a></button>
                            {#                        <button class="button-t">Modifier</button>#}
                        </div>
                        {% else %}
                                <div>Aucun sondage en cours pour le moment</div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
    </div>

{#    <table class="table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Intitule</th>#}
{#            <th>EtatSondage</th>#}
{#            <th>Description</th>#}
{#            <th>ImageCouverture</th>#}
{#            <th>DateFin</th>#}
{#            <th>Actions</th>#}

{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for sondage in sondages %}#}
{#            <tr>#}

{#                <td>{{ sondage.intitule }}</td>#}
{#                <td>{{ sondage.etatSondage }}</td>#}
{#                <td>{{ sondage.description }}</td>#}
{#                <td>{{ sondage.imageCouverture }}</td>#}
{#                <td>{{ sondage.dateFin|date('d-m-Y') }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_sondage_answer', {'id': sondage.id}) }}">Répondre au sondage</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="9">Aucun sondage en cours pour le moment</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{% endblock %}
