{% extends 'base.html.twig' %}

{% block title %}Sondage en cours{% endblock %}

{% block body %}
    <div class="grid-container-nav">
    {{ include('composants/_nav_bar_sonde.html.twig') }}
        <div class="content-sond">
            <div class="row-2">
                <div class="df jce">
                    <div class="">
                        <button class="button"><a class="text-decoration-none a" href="{{ path('app_logout') }}">se
                                deconnecter</a></button>
                    </div>
                </div>
            </div>
            <div class="row-2">
                <h1 class="df jcc">Bienvenue chez Creacosm</h1>
            </div>
            <div class="row-2">
                <div class="grid-container-8">
                {% for sondage in sondages %}
                    <div class="card-sondage">
                       <div class="img-container-2">
                        {% if sondage.imageCouverture is not null %}
                            <img src="{{ asset('assets/uploads/couverture-sondage/mini/300x300-'~sondage.imageCouverture)}}" alt="Image {{ sondage.intitule }}"/>
                        {% else %}
                            <img style="width: 100%;" src="{{ asset('build/images/image-defaut-couverture-sondage.jpg')}}" alt="Image par défaut"/>
                        {% endif%}
                    </div>
                        <div><h5>{{ sondage.intitule }}</h5></div>
                        <div><p>  {{ sondage.description }}</p></div>
                        <div class="d-flex"><p>Fin :</p>
                            <p>{{ sondage.dateFin ? sondage.dateFin|date('d/m/Y') : '' }}</p></div>
                        <div>
                            <button class="button-t"><a class="c-black" href="{{ path('app_sondage_answer', {'id': sondage.id}) }}">Répondre
                                    au sondage</a></button>
                        </div>
                        {% else %}
                                <div>Aucun sondage en cours pour le moment</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}


