{% extends 'base.html.twig' %}

{% block title %}Sondage en cours{% endblock %}

{% block body %}
    <h1>Sondage en cours</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Intitule</th>
            <th>EtatSondage</th>
            <th>Description</th>
            <th>DateFin</th>
            <th>Image</th>
            <th>Actions</th>


        </tr>
        </thead>
        <tbody>
        {% for sondage in sondages %}
            <tr>

                <td>{{ sondage.intitule }}</td>
                <td>{{ sondage.etatSondage }}</td>
                <td>{{ sondage.description }}</td>
                <td>{{ sondage.dateFin|date('d-m-Y') }}</td>
                <td>
                {% if sondage.imageCouverture is not null %}
                    <img src="{{ asset('assets/uploads/couverture-sondage/mini/300x300-'~sondage.imageCouverture)}}" alt="Image {{ sondage.intitule }}"/>
                {% else %}
                    <img style="width: 300px;" src="{{ asset('build/images/image-defaut-couverture-sondage.jpg')}}" alt="Image par défaut"/>
                {% endif%}

                </td>

                <td>
                    <a href="{{ path('app_sondage_answer', {'id': sondage.id}) }}">Répondre au sondage</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun sondage en cours pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
